@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
body {
 font-family:'Quicksand', sans-serif; 
 margin: 0;
 padding: 0;
 padding-bottom: 0;
}


.jumbotron {
 padding: 70px;
 background-color: gray;
 text-align: center;
 font-size: 20px;
 color: white;
}

nav {
 background-color: #00a2c6;
 padding: 5px;
 position: sticky;
 top: 0;
}

nav a {
 font-size: 20px;
 font-weight: 400;
 color: white;
 text-decoration: none;
}
nav a:hover {
 font-weight: bold;
}
nav li {
 display: inline;
 padding: 10px;
 list-style-type: none;
 margin-right: 10px;
}

.card {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
 border-radius: 5px;
 padding: 30px;
 margin-top: 20px ;

}
.cardorder {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
 border-radius: 5px;
 padding: 30px;
 margin-top: 20px ;
 width: fit-content;
 position: relative; left: 38%;
}


main {
 padding: 40px;
}

footer {
 padding: 20px;
 color: white;
 background-color: #00a2c6;
 text-align: center;
 font-weight: bold;
}

footer a {
 text-decoration: none;
}

.table {
 color: #444;
 border-collapse: collapse;
 width: 100%;
 border: 1px solid #f2f5f7;
}

.table tr th {
 background: #35a9db;
 color: #fff;
 font-weight: normal;
}

.table, th, td{
 padding:8px 20px;
 text-align: center;
}

.table tr:hover{
 background-color: #f5f5f5;
}

.table tr:nth-child(even) {
 background-color: #f2f2f2;
}

button {
 border-radius: 20px;
 display: block;
 width: 100%;
 padding: 5px 5px;
 margin-top: 10px;
}

button:hover {
 background-color: #00a2c6;
 transition: 0.5s;
}